# Godot #
godot_space/living-standard-simulation-ambient/.godot/
godot_space/living-standard-simulation-ambient/.import/
godot_space/living-standard-simulation-ambient/export.cfg
godot_space/living-standard-simulation-ambient/export_credentials.cfg
godot_space/living-standard-simulation-ambient/*.translation
#########

# bibliotecas C++ #
src_cpp/libtorch/
src_cpp/godot_cpp/
*.obj
*.exe
*.dll
*.so
*.a
*.lib
src_cpp/.sconsign.dblite
###################

# dados #
ml_model_workspace/data/*
ml_model_workspace/TODO.md
!ml_model_workspace/data/README.md
!ml_model_workspace/data/.gitkeep
#########

# modelo #
models/*.pt
models/*.pth
models/*.onnx
##########

# ambiente #
environment/venv/
environment/.env
.ipynb_checkpoints/
############

# logs #
logs/*
!logs/set_logger.py
!logs/__init__.py

# coisas aleatórias #
REMINDER.md
#####################
